@import "tailwindcss";

html{
  width: 100%;
  height:max-content;
  background: #862a9b;
  background: linear-gradient(180deg, #862a9b 0%, #0d0410 15%);
  scroll-behavior: smooth;
}
body{
  color: aliceblue;
}
h2{
  font-size: larger;
}
p {
  font-size: medium;
}

@layer utilities {
  .mask-fade {
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-540px);
  }
}
.animate-scrollX {
  animation: scrollX 7s linear infinite;
}